---
import Grid from "../components/Grid.astro";
import MainLayout from "../layouts/MainLayout.astro";
import GalerieItem from "../components/Galerie/GalerieItem.astro";

//Images
import Sprungturm from "@assets/images/galerie/Sprungturm.jpg";
import Sprungturm2 from "@assets/images/galerie/Sprungturm2.jpg";
import Sonnenuntergang from "@assets/images/galerie/Sonnenuntergang.jpg";
import historischeAnsicht from "@assets/images/galerie/3701.jpg";
import Marathonschwimmen from "@assets/images/galerie/Marathonschwimmen_2022-08-13.jpg";
import Lichtkunst1 from "@assets/images/galerie/IMG-20220507-WA0005.jpg";
import Lichtkunst2 from "@assets/images/galerie/IMG-20220507-WA0027.jpg";
import Trabantentreffen from "@assets/images/galerie/Trabantentreffen_2022-08-13.jpg";
import Image from "astro/components/Image.astro";
import ImageCard from "components/Card/ImageCard.astro";
---

<MainLayout titel="Galerie" description="Bildergalerie">
    <Grid titel="Galerie">


        

        <div class="image-mosaic">
            <ImageCard img={Sprungturm} title="Sprungturm" id="strungturm" classes="card-tall card-wide"/>
            <ImageCard img={Marathonschwimmen} title="Marathonschwimmen" id="marathonschwimmen" classes="card-tall"/>
            <ImageCard img={historischeAnsicht} title="historischeAnsicht" id="historischeAnsicht" classes="card-wide"/>
            <ImageCard img={Sprungturm2} title="Strungturm2" id="strungturm2" classes="card-tall"/>
            <ImageCard img={Sonnenuntergang} title="Sonnenuntergang" id="sonnenuntergang" classes="card-tall"/>
            <ImageCard img={Lichtkunst1} title="Lichtkunst1" id="lichtkunst1"/>
            <ImageCard img={Lichtkunst2} title="Lichtkunst2" id="lichtkunst2"/>
            <ImageCard img={Trabantentreffen} title="Trabantentreffen" id="trabantentreffen"/>
        </div>
    </Grid>
</MainLayout>
<style>
    .image-mosaic {
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-auto-rows: 240px;
    }
</style>
