---
import PreiseCard from "components/Card/PreiseCard.astro";
import Grid from "../components/Grid.astro";
import MainLayout from "../layouts/MainLayout.astro";

import { getCollection } from 'astro:content';
const preise = (await getCollection("preise")).sort(
	(a, b) => a.data.index - b.data.index);
console.log(preise[0].data.color);

---

<MainLayout
    titel="Eintrittspreise"
    description="Eintrittspreise für Einzelkarten, Abendtarif und Jahreskarten"
>
    <Grid titel="Eintrittspreise">
        {preise.map((preis) => (
            <PreiseCard 
                title={preis.data.title} 
                icon={preis.data.icon} 
                color={preis.data.color} 
                badge_top={preis.data.badge_top} 
                badge_bottom={preis.data.badge_bottom}
                pos1={preis.data.pos1}
                pos1_num={preis.data.pos1_num}
                pos2={preis.data.pos2}
                pos2_num={preis.data.pos2_num}
                pos3={preis.data.pos3}
                pos3_num={preis.data.pos3_num}/>
          ))}
    </Grid>
    <div class="h-12"></div>
</MainLayout>
