---
import { Icon } from "astro-icon/components";
import Banner from "../components/Banner.astro";
import Card from "../components/Card/Card.astro";
import CardItem from "../components/Card/CardItem.astro";
import Grid from "../components/Grid.astro";
import MainLayout from "../layouts/MainLayout.astro";
import PreiseCard from "components/Card/PreiseCard.astro";

import { getCollection } from "astro:content";
const zeiten = (await getCollection("zeiten")).sort(
    (a, b) => a.data.index - b.data.index,
);
---

<MainLayout
    titel="Öffnungszeiten"
    description="Aktuelle Öffnungszeiten des Freibads Delligsen"
>
    <Grid titel="Öffnungszeiten">
        <Banner
    id="geändert"
    title="Geänderte Öffnungszeiten aufgrund des guten Wetters"
    icon="sun"
    bg_color="#f9f28b"
  >
  <p>Bis einschließlich <b>Freitag (22.08)</b> ist das Freibad von <b>10-12 Uhr</b> und dann <b>15-20 Uhr</b> geöffnet.</p>
  </Banner>
        <!--Bei schlechtem Wetter kann die Badezeit früher enden !!! -->
        <!--
  <Banner
    title="Bei schlechtem Wetter kann die Badezeit früher enden !!!"
    icon="IcRoundRainy"
    bg_color="error"
  /> -->
        <!--   <Banner
  title="Saisonverlängerung"
  icon="IcRoundTimelapse"
  bg_color="positive">
  Die Saison wurde bis zum 6. September 2024 von 17 bis 20 Uhr verlängert.
</Banner> -->
        <!-- <div class="w-full">
            <Banner
            title="Geänderte Öffnungszeiten am 9. und 10. Juni"
            icon="IcRoundTimelapse"
            bg_color="alert-error"
            id="changedTimesBannner"
            classes="w-fit">
            Am 9. und 10. Juni ist die Öffnungszeit von 15-20 Uhr.
            </Banner> 
        </div> -->
        {
            zeiten.map((zeit) => (
                <PreiseCard
                    title={zeit.data.title}
                    icon={zeit.data.icon}
                    color={zeit.data.color}
                    badge_top={zeit.data.badge_top}
                    badge_bottom={zeit.data.badge_bottom}
                    badge_bottom_link={zeit.data.badge_bottom_link}
                    pos1={zeit.data.pos1}
                    pos1_num={zeit.data.pos1_num}
                    pos2={zeit.data.pos2}
                    pos2_num={zeit.data.pos2_num}
                    pos3={zeit.data.pos3}
                    pos3_num={zeit.data.pos3_num}
                />
            ))
        }
    </Grid>
</MainLayout>

<style>
    a {
        text-decoration: none;
        color: var(--text);
        display: flex;
    }
    [astro-icon] {
        height: 24px;
        vertical-align: bottom;
        font-size: 24px !important;
    }
</style>
