---
// library imports
import { Icon } from "astro-icon/components";

interface Props {
  text: string;
  href: string;
  ariaLabel?: string;
  icon?: {
    name: string;
    side: "left" | "right";
  };
  disabled?: boolean;
  classes?: string;
}

const {
  text,
  href,
  ariaLabel,
  icon,
  disabled = false,
  classes,
  ...rest
} = Astro.props as Props;
---


<a
  href={disabled ? "#" : href}
  aria-disabled={disabled}
  aria-label={ariaLabel}
  tabindex={disabled ? "-1" : "0"}
  class:list={[
    "link",
    classes,
    { disabled: disabled },
  ]}
  {...rest}
>
  {
    icon && icon.side === "left" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }

  <span>{text}</span>

  {
    icon && icon.side === "right" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }
</a>

<style>
    a {
        background-color: var(--primary);
        padding: 16px;
        height: 56px;
        margin: 1rem;
        color: white;
        font-weight: 700;
        text-align: center;
        display: flex;
        justify-items: center;
        gap: 1rem;
        width: fit-content;
        border-radius: var(--border-radius);
        text-decoration: none;
        hyphens: none;
    }
    a:hover [data-icon] {
        color: var(--accent);
    }
</style>