---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BlogImage from "../components/Neues/BlogImage.astro";
import MainLayout from "./MainLayout.astro";
import { Icon } from "astro-icon";
import Back from "../components/Back.astro";

type Props = CollectionEntry<"neues">["data"];

const { title, description, pubDate, updatedDate, src, width, height } =
  Astro.props;
---

<MainLayout titel={title} description={description}>
  <article>
    <div class="content">
      <div>
        <h1 class="title">{title}</h1>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>

      {src && <BlogImage src={src} alt={src} width={width} height={height} />}
      <div class="slot">
        <slot />
      </div>
    </div>
    <Back url="javascript:history.back()" txt="Übersicht" />
  </article>
</MainLayout>
<style>
  .button {
    display: flex;
    justify-content: flex-end;
  }
  .content {
    color: var(--text);
    max-width: 600px;
    display: grid;
    gap: 3rem;
  }
  .content div {
    display: grid;
    gap: 20px;
  }
  .slot {
    text-align: justify;
  }
  article {
    color: var(--text);
    display: grid;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    height: fit-content;
    gap: 30px;
    padding: 4%;
    border-radius: var(--border-radius);
    background-color: var(--article);
    border: var(--border-grey) 1px solid;
    margin-inline: auto;
  }
  h1 {
    font-weight: 500;
    margin-block: 1rem;
    font-size: clamp(1.7rem, 1.4551rem + 1.3061vw, 2.5rem);
  }
  @media screen and (max-width: 1050px) {
    article {
      gap: 20px;
    }
    main {
      padding-top: 0;
    }
  }
</style>
