---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BlogImage from "../components/Neues/BlogImage.astro";
import MainLayout from "./MainLayout.astro";
import { Icon } from "astro-icon/components";
import Back from "../components/Back.astro";
import { slugify } from "js/utils";

type Props = CollectionEntry<"neues">["data"];

const { title, description, pubDate, updatedDate, src } =
  Astro.props;
---

<MainLayout titel={title} description={description}>
  <article>
    {src && <BlogImage src={src} alt={src} transition:name={slugify(title)+"-img"}/>}

    <h1 class="title" transition:name={slugify(title)+"-title"}>{title}</h1>
    <FormattedDate date={pubDate} transition:name={slugify(title)+"-date"}/>
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <slot />
    <div class="flex justify-end">
      <a href="javascript:history.back()" role="button" class="btn box-s-3" style="background-color: var(--accent);"
        >Zurück <Icon name="undo" class="h-6 w-6" /></a
      >
    </div>
  </article>
</MainLayout>
<style>
  .button {
    display: flex;
    justify-content: flex-end;
  }
  .slot {
    text-align: justify;
  }

  article {
    color: var(--text);
    display: grid;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    height: fit-content;
    gap: 30px;
    margin-inline: auto;
  }
  h1 {
    font-weight: 700;
    margin-block: 1rem 0.5rem;
    font-size: clamp(2rem, 0.7179rem + 4.1026vw, 4rem);
  }
  @media screen and (max-width: 1050px) {
    article {
      gap: 20px;
    }
    main {
      padding-top: 0;
    }
  }
</style>
