---
//styles
import "../styles/global.css";

//components
import NavigationBar from "../components/Nav/NavigationBar.astro";
import Footer from "../components/Footer.astro";

import { ClientRouter } from "astro:transitions";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

export interface Props {
    titel: string;
    description: string;
    image?: string;
    classes?: string;
}

const {
    titel,
    description,
    image = "../assets/images/Sprungturm2.jpg",
    classes,
} = Astro.props;
---

<html lang="de">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/freibadicon.svg" />
        <link
            rel="preload"
            href="/fonts/Monteserrat/Montserrat-VariableFont_wght.ttf"
            as="font"
            type="font/ttf"
            crossorigin="anonymous"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <!-- Canonical URL -->
        <link rel="canonical" href={canonicalURL} />

        <!-- Primary Meta Tags -->
        <title>{titel}</title>
        <meta name="title" content={titel} />
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={titel} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.url)} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={titel} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={new URL(image, Astro.url)} />

        <!--Nav Script -->
        <!-- <script src="../js/nav.js"></script> -->

        <ClientRouter />

        <!-- Analytics -->
        <script
        src="https://cdn.telemetrydeck.com/websdk/telemetrydeck.min.js"
        data-app-id="1F5C1629-58E5-40D3-8477-2E87A7DCE45C"
        ></script>
    </head>
    <body>
        <div id="page-container" class="relative bg-base-200">
            <div id="body-container" class:list={["z-10", "min-h-[73svh]", classes]}>
                <header class="dontPrint">
                    <div class="content-grid">
                        <NavigationBar />
                    </div>
                </header>
                <main id="swup">
                    <div class="slot transition-fade content-grid">
                        <slot />
                    </div>
                </main>
            </div>
            <div class="dontPrint">
                <Footer classes="invisible -z-10" />
                <Footer classes="fixed bottom-0" />
            </div>
        </div>
        <script src="../js/app.js"></script>
        <style>
            #page-container {
                min-height: 100vh;
                min-height: 100svh;
                display: grid;
                align-content: space-between;
            }
            .slot {
                width: 100%;
            }
            #body-container {
                background-color: var(--background);
                padding-bottom: 2rem;
                border-radius: 0 0 1rem 1rem;
            }
            /* Define a transition duration during page visits */
            html.is-changing .transition-fade {
                transition: opacity 0.25s;
                opacity: 1;
            }

            /* Define the styles for the unloaded pages */
            html.is-animating .transition-fade {
                opacity: 0;
            }

            @media print {
                .dontPrint {
                    display: none;
                }
            }
        </style>
    </body>
</html>
