---
//styles
import "../styles/global.css";

//components
import NavigationBar from "../components/Nav/NavigationBar.astro";
import Footer from "../components/Footer.astro";

import { ViewTransitions } from "astro:transitions";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

export interface Props {
	titel: string;
	description: string;
	image?: string;
}

const {
	titel,
	description,
	image = "../assets/images/Sprungturm2.jpg",
} = Astro.props;
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/freibadicon.svg" />
		<link
			rel="preload"
			href="/fonts/Monteserrat/Montserrat-VariableFont_wght.ttf"
			as="font"
			type="font/ttf"
			crossorigin="anonymous"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- Primary Meta Tags -->
		<title>{titel}</title>
		<meta name="title" content={titel} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={titel} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={titel} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(image, Astro.url)} />

		<!--Nav Script -->
		<script src="../js/nav.js"></script>

		<ViewTransitions />
	</head>
	<body>
		<div class="top_div dontPrint"></div>
		<header class="dontPrint">
			<div class="content-grid">
				<NavigationBar />
			</div>
		</header>
		<main id="swup">
			<div class="slot transition-fade content-grid">
				<slot />
			</div>
		</main>
		<div class="dontPrint">
			<Footer />
		</div>
		<script src="../js/app.js"></script>
		<style>
			header {
				position: fixed;
				top: 0;
				z-index: 999;
				background-color: white;
				width: 100%;
			}
			.slot {
				width: 100%;
				min-height: 80vh;
			}
			body {
				background-color: var(--background);
			}
			/* Define a transition duration during page visits */
			html.is-changing .transition-fade {
				transition: opacity 0.25s;
				opacity: 1;
			}

			/* Define the styles for the unloaded pages */
			html.is-animating .transition-fade {
				opacity: 0;
			}

			@media print {
				.dontPrint {
					display: none;
				}
			}
		</style>
	</body>
</html>