---
import { Icon } from "astro-icon/components";
import NavItem from "./NavbarItem.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/");
const { className } = Astro.props;
---

<div class="drawer drawer-end">
    <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div class="navbar pb-10 pt-4 px-0 w-full justify-between">
            <a class="no-underline" href="/">
                <div class="logo">
                    <Icon name="freibadLogo" />
                    <h4>Freibad Delligsen</h4>
                </div>
            </a>
            <div class="hidden flex-none xl:block">
                <ul class="menu menu-horizontal gap-2">
                    <!-- Navbar menu content here -->
                    <NavItem
                        title="Startseite"
                        url=""
                        current={currentPath[1]}
                    />
                    <NavItem
                        title="Öffnungszeiten"
                        url="zeiten"
                        current={currentPath[1]}
                    />
                    <NavItem
                        title="Eintrittspreise"
                        url="preise"
                        current={currentPath[1]}
                    />
                    <NavItem
                        title="Veranstaltungen"
                        url="veranstaltungen"
                        current={currentPath[1]}
                    />
                    <NavItem
                        title="Neuigkeiten"
                        url="neues"
                        current={currentPath[1]}
                    />
                    <NavItem
                        title="Galerie"
                        url="galerie"
                        current={currentPath[1]}
                    />
                </ul>
            </div>
            <div class="flex-none xl:hidden z-20">
                <label
                    id="hamburger"
                    for="nav-drawer"
                    aria-label="toggle sidebar"
                    class="group transition flex items-center justify-center btn btn-square has-aria-pressed:btn-outline"
                    onclick="this.setAttribute('aria-pressed', !(this.getAttribute('aria-pressed') === 'true'))"
                >
                    <svg
                        class="w-6 h-6 fill-current pointer-events-none"
                        viewBox="0 0 16 16"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <rect
                            class="origin-center -translate-y-[5px] translate-x-[7px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-[[aria-pressed=true]]:translate-x-0 group-[[aria-pressed=true]]:translate-y-0 group-[[aria-pressed=true]]:rotate-[315deg]"
                            y="7"
                            width="9"
                            height="2"
                            rx="1"></rect>
                        <rect
                            class="origin-center transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.8)] group-[[aria-pressed=true]]:rotate-45"
                            y="7"
                            width="16"
                            height="2"
                            rx="1"></rect>
                        <rect
                            class="origin-center translate-y-[5px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-[[aria-pressed=true]]:translate-y-0 group-[[aria-pressed=true]]:-rotate-[225deg]"
                            y="7"
                            width="9"
                            height="2"
                            rx="1"></rect>
                    </svg>
                </label>
            </div>
        </div>
        <!-- Page content here -->
    </div>
    <div class="drawer-side z-10">
        <label
            for="nav-drawer"
            aria-label="close sidebar"
            class="drawer-overlay"
            onclick="document.getElementById('hamburger').setAttribute('aria-pressed', !(document.getElementById('hamburger').getAttribute('aria-pressed') === 'true'))">
        </label>
        <ul class="menu bg-base-100 min-h-full max-w-80 w-full p-4 pt-20 gap-3">
            <!-- Sidebar content here -->
            <NavItem
                title="Startseite"
                url=""
                current={currentPath[1]}
                icon="home"
            />
            <NavItem
                title="Öffnungszeiten"
                url="zeiten"
                current={currentPath[1]}
                icon="time"
            />
            <NavItem
                title="Eintrittspreise"
                url="preise"
                current={currentPath[1]}
                icon="pay"
            />
            <NavItem
                title="Veranstaltungen"
                url="veranstaltungen"
                current={currentPath[1]}
                icon="date"
            />
            <NavItem
                title="Neuigkeiten"
                url="neues"
                current={currentPath[1]}
                icon="news"
            />
            <NavItem
                title="Galerie"
                url="galerie"
                current={currentPath[1]}
                icon="gallery"
            />
        </ul>
    </div>
</div>

<style>
    .logo {
        display: flex;
        flex-direction: row;
    }

    .logo [data-icon="freibadLogo"] {
        display: block !important;
        fill: var(--primary-dark);
        width: 50px !important;
    }

    .logo h4 {
        color: var(--primary-dark);
        font-size: clamp(1.1rem, 0.9776rem + 0.6531vw, 1.5rem);
        font-weight: 700;
        letter-spacing: -1px;
        margin-left: 1rem;
    }
</style>
